/* Backgrounds */
/* Menu */
/* Backgrounds */
/* Menu */
/* Usage

.vertical-centered-element {
  @include flex-center-vert;
}

.horizontally-centered-element {
  flex-direction: column;
  @include flex-center-vert;
}

*/
main {
  padding-top: 180px;
}
@media (max-width: 960px) {
  main {
    padding-top: 90px;
  }
}

@font-face {
  font-family: "Irvin Heading";
  src: url("../../assets/fonts/NewYorker.woff2") format("woff2-variations");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caslon New";
  src: url("../../assets/fonts/CaslonPro/ACaslonPro-Regular.otf") format("woff2 supports variations"), url("../../assets/fonts/CaslonPro/ACaslonPro-Regular.otf") format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../../assets/fonts/Graphik-Regular.woff2") format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}
/* -------Font------- */
/* -------Font Sizes------- */
/* -------Main Styles------- */
body {
  font-family: Caslon New;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Irvin Heading;
  text-transform: uppercase;
}

h1 {
  font-size: 1.125rem;
}

h2 {
  font-size: 0.919rem;
}

h3 {
  font-size: 0.919rem;
}

h4 {
  font-size: 0.919rem;
  font-style: italic;
}

p {
  letter-spacing: 0.1px;
  font-weight: 390;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Irvin Heading";
  src: url("../../assets/fonts/NewYorker.woff2") format("woff2-variations");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caslon New";
  src: url("../../assets/fonts/CaslonPro/ACaslonPro-Regular.otf") format("woff2 supports variations"), url("../../assets/fonts/CaslonPro/ACaslonPro-Regular.otf") format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Graphik";
  src: url("../../assets/fonts/Graphik-Regular.woff2") format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
  padding-right: 3rem;
  padding-left: 3rem;
}

.section-break {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2.5rem 0;
}

.min-list {
  padding: 0;
  margin: 0;
}

.min-list li {
  list-style: none;
}

.no-margin {
  margin: 0;
}

.hide {
  display: none;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blue-link {
  color: rgb(8, 121, 191);
  text-decoration: underline;
  font-family: Caslon New;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-size: 18px;
  font-weight: 400;
}

.blue-link:hover {
  color: #5f5f5f;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.home-divider {
  border: 0;
  margin-bottom: 3rem;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  position: relative;
  width: 100%;
  z-index: 99;
}

.logo-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Graphik;
  font-size: 12px;
  border-bottom: 1px solid rgb(229, 229, 229);
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: white;
}

.offer-section {
  height: auto;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media (max-width: 960px) {
  .offer-section {
    display: none;
  }
}

#hero-offer {
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main-logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.utility-links {
  height: auto;
  width: 25%;
}

.utility-links > a {
  margin-right: 10px;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media (max-width: 960px) {
  #logo {
    width: 110px;
    display: none;
  }
}

#mobile-logo {
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  height: auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media (min-width: 961px) {
  #mobile-logo {
    display: none;
  }
}

#menu {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.utility-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 960px) {
  .utility-links a {
    display: none;
  }
}

.navigation-menu > ul > li {
  margin-right: 1rem;
  font-family: Graphik;
  font-size: 12px;
}

.navigation-menu a:hover {
  text-decoration: underline;
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3rem;
}

.persistent-top {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 99;
  max-height: 50px;
}

.site-header .container {
  background-color: white;
}
@media (max-width: 960px) {
  .site-header .container {
    display: none;
  }
}

footer {
  background-color: rgb(18, 18, 18);
  margin-top: 3rem;
  color: #a2a2a2;
}

.footer-logo img {
  margin-left: auto;
  margin-right: auto;
}

.footer-logo {
  height: 7rem;
  border-bottom: 1px solid rgb(51, 51, 51);
}

.footer-one {
  grid-area: 2/1/auto/span 6;
  display: block;
}
@media (max-width: 960px) {
  .footer-one {
    grid-column: 1/-1;
    grid-row: unset;
  }
}

.footer-two {
  grid-area: 2/7/auto/-1;
  display: block;
}
@media (max-width: 960px) {
  .footer-two {
    grid-column: 1/-1;
    grid-row: unset;
  }
}

.footer-full {
  grid-column: 1/-1;
}
@media (max-width: 960px) {
  .footer-full {
    grid-column: 1/-1;
    grid-row: unset;
  }
}

.footer-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 3rem;
  padding-left: 3rem;
}

.footer-section {
  padding: 2rem 0px;
}

.footer-section ul li {
  font-family: Graphik;
  font-weight: 400;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.71em;
  overflow-wrap: normal;
  font-size: 14px;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
}

.footer-label {
  font-family: Irvin Heading;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  margin-bottom: 10px;
}

.footer-list {
  display: block;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  height: auto;
  text-align: left;
}

.footer-list-full {
  display: block;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-columns: 4;
     -moz-columns: 4;
          columns: 4;
  height: auto;
  text-align: left;
}
@media (max-width: 960px) {
  .footer-list-full {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }
}

.main-footer-links {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-bottom: 1px solid rgb(51, 51, 51);
}

.secondary-footer-links {
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-bottom: 1px solid rgb(51, 51, 51);
}

.footer-legal {
  font-size: 9px;
  font-family: Graphik;
}

.footer-legal a {
  text-decoration: underline;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.twelveGrid {
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  grid-template-rows: 1fr;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sixGrid {
  grid-gap: 2rem;
  grid-template-rows: 1fr;
  display: grid;
  grid-column: 4/span 6;
}

.threeGridOne {
  grid-gap: 2rem;
  grid-column: span 3;
  grid-template-rows: 1fr;
  display: grid;
  border-right: 1px solid rgb(229, 229, 229);
  padding-right: 1rem;
  margin: 0 -1rem 0 0;
}

.content-wrap-one:nth-child(2) {
  border: none;
}

.threeGridTwo {
  grid-column: span 3;
  grid-template-rows: 1fr;
  display: grid;
  border-left: 1px solid rgb(229, 229, 229);
  padding-left: 1rem;
  margin: 0 0 0 -1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.featuredThreeGrid {
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  display: grid;
}
.featuredThreeGrid .featuredThreeSummary {
  grid-column: span 2;
}
.featuredThreeGrid .featuredThreeImage {
  grid-column: span 1;
}

.bump {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.content-wrap-one {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(229, 229, 229);
  text-decoration: none !important;
}

.featuredThreeImage {
  margin-top: auto;
  margin-bottom: auto;
}

.archiveCategory {
  color: rgb(219, 51, 52);
  font-family: Irvin Heading;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  text-decoration: none;
}

.archiveCatLink:hover {
  text-decoration: underline;
  color: rgb(219, 51, 52);
}

.archiveTitle {
  color: black;
  font-family: Irvin Heading;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 0.8rem;
  line-height: 1.2em;
}

.archiveTitle:hover {
  text-decoration: underline;
}

.archiveTitleList {
  color: black;
  font-family: Caslon New;
  text-transform: capitalize;
  font-size: 20px;
  padding-bottom: 0.8rem;
  line-height: 1.2em;
}

.archiveTitleList:hover {
  text-decoration: underline;
}

.archiveExcerpt {
  padding-bottom: 0.8rem;
  font-style: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.33333em;
  font-size: 17px;
  font-weight: 400;
}

.archiveAuthor {
  font-family: Graphik;
  font-weight: 600;
  font-size: 15px;
}

.threeGridTwoHeading {
  font-family: Irvin Heading;
  font-size: 22px;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.09091em;
  text-transform: none;
}

.threeGridTwoHeadingWrapper {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.threeGridTwoBlock {
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.threeGridTwoBlock .archiveCategory {
  padding-top: 0px;
}

.threeGridTwoBlock:nth-child(6) {
  border: none;
}

.miniThumbnail {
  margin-left: 10px;
}

.miniThumbnail img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 70px;
}

.header-subscribe {
  background: #0787ca;
  border-radius: 2px;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: 500;
  height: 100%;
  line-height: 30px;
  text-align: center;
  text-decoration: inherit;
  height: 30px;
  margin-right: 21px;
  width: 112px;
  border: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .header-subscribe {
    font-size: 0.769rem;
  }
}

.hamburger {
  width: 40px;
  cursor: pointer;
  display: block;
  height: 35px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}
@media (min-width: 961px) {
  .hamburger {
    display: none;
  }
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background-color: black;
  margin: 6px 0px;
}

.hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
          transform: rotate(-45deg) translate(-6px, 5px);
}

.hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
          transform: rotate(45deg) translate(-8px, -7px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-navigation-menu {
  display: block;
  position: fixed;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 98;
  background-color: white;
  padding-top: 120px;
  overflow-y: scroll;
}
@media (min-width: 961px) {
  .mobile-navigation-menu {
    display: none;
  }
}
.mobile-navigation-menu ul {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.mobile-navigation-menu a {
  font-family: Irvin Heading;
  text-transform: uppercase;
  display: block;
  text-align: left;
  margin-bottom: 2rem;
  padding: 12px 16px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 16px;
}

.burger-box {
  width: 25%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 21px;
}
@media (min-width: 961px) {
  .burger-box {
    display: none;
  }
}

.mobile-navigation-menu.is-active {
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.marketing-banner {
  padding: 0.5rem 0px;
  margin-bottom: 1rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(229, 229, 229);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eustace {
  position: relative;
  max-width: 75px;
  height: auto;
}

.marketing-text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 400;
}

.section-title {
  padding: 2rem 0 2rem 0;
  border-top: 1px solid rgb(229, 229, 229);
  border-bottom: 1px solid rgb(229, 229, 229);
  margin-top: 1rem;
}
.section-title h2 {
  font-family: Irvin Heading;
  font-size: 20px;
  text-align: center;
}