.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
  padding-right: calc(1 * 3rem);
  padding-left: calc(1 * 3rem);
  @include atSmall {
    padding-right: calc(1 * 1.5rem);
    padding-left: calc(1 * 1.5rem);
  }
}

.section-break {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2.5rem 0;
}

.min-list {
  padding: 0;
  margin: 0;
}

.min-list li {
  list-style: none;
}

.no-margin {
  margin: 0;
}

.hide {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.blue-link {
  color: $light-blue;
  text-decoration: underline;
  font-family: $adobe-caslon;
  transition: 0.2s ease-in-out;
  font-size: 18px;
  font-weight: 400;
}

.blue-link:hover {
  color: $dark-gray;
  transition: 0.2s ease-in-out;
}

.home-divider {
  border: 0;
  margin-bottom: 3rem;
}

.no-wrap {
  flex-wrap: nowrap;
}
