/* Backgrounds */
/* Menu */
/* Usage

**SCSS input
.foo {
  color: red;

  @include respond-to('medium') {
    color: blue;
  }
}

*/
/* Backgrounds */
/* Menu */
/* Usage

.vertical-centered-element {
  @include flex-center-vert;
}

.horizontally-centered-element {
  flex-direction: column;
  @include flex-center-vert;
}

*/
@font-face {
  font-family: "Irvin Heading";
  src: url("../../assets/fonts/NewYorker.woff2") format("woff2-variations");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caslon New";
  src: url("../../assets/fonts/CaslonPro/ACaslonPro-Regular.otf") format("woff2 supports variations"), url("../../assets/fonts/CaslonPro/ACaslonPro-Regular.otf") format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}
/* -------Font------- */
/* -------Font Sizes------- */
/* -------Main Styles------- */
body {
  font-family: Caslon New;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Irvin Heading;
  text-transform: uppercase;
}

h1 {
  font-size: 1.125rem;
}

h2 {
  font-size: 0.919rem;
}

h3 {
  font-size: 0.919rem;
}

h4 {
  font-size: 0.919rem;
  font-style: italic;
}

p {
  letter-spacing: 0.1px;
  font-weight: 390;
}

a {
  color: inherit;
  text-decoration: none;
}

a[href*=http] {
  text-decoration: underline;
  -webkit-transition: color 100ms ease;
  transition: color 100ms ease;
}

span a[href*=http]:hover {
  color: var(--gray12);
}

@font-face {
  font-family: "Irvin Heading";
  src: url("../../assets/fonts/NewYorker.woff2") format("woff2-variations");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caslon New";
  src: url("../../assets/fonts/CaslonPro/ACaslonPro-Regular.otf") format("woff2 supports variations"), url("../../assets/fonts/CaslonPro/ACaslonPro-Regular.otf") format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
footer {
  display: block;
}