.thumbnail img {
  width: 100%;
  height: auto;
}

.twelveGrid {
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem;
  grid-template-rows: 1fr;
  display: grid;
  justify-content: center;
}

.sixGrid {
  grid-gap: 2rem;
  grid-template-rows: 1fr;
  display: grid;
  grid-column: 4 / span 6;
  @include atMedium {
    grid-column: span 12;
    order: -1;
  }
  @include atLaptop {
    grid-template-rows: 1fr 0.5fr;
  }
}

.threeGridOne {
  grid-gap: 2rem;
  grid-column: span 3;
  grid-template-rows: 1fr;
  display: grid;
  border-right: 1px solid rgb(229, 229, 229);
  padding-right: 1rem;
  margin: 0 calc(1rem * -1) 0 0;
  @include atMedium {
    grid-column: span 12;
  }
  @include atLaptop {
    grid-template-rows: 0.5fr 1fr;
  }
}

.content-wrap-one:nth-child(2) {
  border: none;
}

.threeGridTwo {
  grid-column: span 3;
  grid-template-rows: 1fr;
  display: grid;
  border-left: 1px solid rgb(229, 229, 229);
  padding-left: 1rem;
  margin: 0 0 0 calc(1rem * -1);
  align-items: start;
  grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  justify-content: center;
  align-content: center;
  @include atMedium {
    grid-column: span 12;
  }
  @include atLaptop {
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  }
}

.featuredThreeGrid {
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  display: grid;

  .featuredThreeSummary {
    grid-column: span 2;
    @include atMedium {
      grid-column: span 12;
    }
  }

  .featuredThreeImage {
    grid-column: span 1;
    @include atMedium {
      grid-column: span 12;
      order: -1;
    }
  }
}

.bump {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.content-wrap-one {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(229, 229, 229);
  text-decoration: none !important;
}

.featuredThreeImage {
  margin-top: auto;
  margin-bottom: auto;
}

.archiveCategory {
  color: rgb(219, 51, 52);
  font-family: $irvin-heading;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  text-decoration: none;
}

.archiveCatLink:hover {
  text-decoration: underline;
  color: rgb(219, 51, 52);
}

.archiveTitle {
  color: black;
  font-family: $irvin-heading;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 0.8rem;
  line-height: 1.2em;
}

.archiveTitle:hover {
  text-decoration: underline;
}

.archiveTitleList {
  color: black;
  font-family: $adobe-caslon;
  text-transform: capitalize;
  font-size: 20px;
  padding-bottom: 0.8rem;
  line-height: 1.2em;
}

.archiveTitleList:hover {
  text-decoration: underline;
}

.archiveExcerpt {
  padding-bottom: 0.8rem;
  font-style: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.33333em;
  font-size: 17px;
  font-weight: 400;
}

.archiveAuthor {
  font-family: $graphik;
  font-weight: 600;
  font-size: 15px;
}

.threeGridTwoHeading {
  font-family: $irvin-heading;
  font-size: 22px;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.09091em;
  text-transform: none;
}

.threeGridTwoHeadingWrapper {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.threeGridTwoBlock {
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-bottom: 1rem;
  padding-top: 1rem;
  .archiveCategory {
    padding-top: 0px;
  }
}

.threeGridTwoBlock:nth-child(6) {
  border: none;
}

.miniThumbnail {
  margin-left: 10px;
}

.miniThumbnail img {
  object-fit: contain;
  height: 70px;
}
