.header-subscribe {
  background: #0787ca;
  border-radius: 2px;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: 500;
  height: 100%;
  line-height: 30px;
  text-align: center;
  text-decoration: inherit;
  height: 30px;
  margin-right: 21px;
  width: 112px;
  border: none;
  cursor: pointer;
  @include atSmall {
    font-size: $--font-s;
    margin-right: 0;
  }
}
