.marketing-banner {
  padding: 0.5rem 0px;
  margin-bottom: 1rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(229, 229, 229);
  justify-content: center;
  align-items: center;
  a {
    @include atSmall {
      margin-bottom: 10px;
    }
  }
}

.eustace {
  position: relative;
  max-width: 75px;
  height: auto;
  @include atSmall {
    margin-bottom: 20px;
  }
}

.marketing-text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 400;
  @include atSmall {
    text-align: center;
    margin-bottom: 10px;
  }
}
