.marketing-banner {
  padding: 0.5rem 0px;
  margin-bottom: 1rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgb(229, 229, 229);
  justify-content: center;
  align-items: center;
}

.eustace {
  position: relative;
  max-width: 75px;
  height: auto;
}

.marketing-text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 400;
}
