.section-title {
  padding: 2rem 0 2rem 0;
  border-top: 1px solid rgb(229, 229, 229);
  border-bottom: 1px solid rgb(229, 229, 229);
  margin-top: 1rem;
  h2 {
    font-family: $irvin-heading;
    font-size: 20px;
    text-align: center;
  }
}
